In [2]:
import sqlite3
import pandas as pd

In [11]:
class Data_from_chinook:

    def __init__(self, dbpath):
        self.dbpath = dbpath
        self.conn = sqlite3.connect(dbpath)
        self.cursor = self.conn.cursor()
        print(
            f"Connected to database: {dbpath} Ready to perform CRUD operations!")

    def __del__(self):
        print("Closing connection")
        self.conn.close()

    def sales_by_sales_agent(self):
        query = """
            SELECT e.LastName, c.SupportRepId, SUM(i.Total)  AS sales_by_agent
            FROM employees e
            JOIN customers c ON e.EmployeeId = c.SupportRepId
            JOIN invoices i ON c.CustomerId = i.CustomerId
            GROUP BY e.LastName
            ORDER BY sales_by_agent DESC
        """
        return pd.read_sql_query(query, self.conn)

    def top_selling_track_of_2012(self):
        query = """
            SELECT t.Name as Name_of_the_song, i.InvoiceDate, COUNT(*)  AS top_selling_track_2012
            FROM tracks t 
            JOIN invoice_items ii ON t.TrackId = ii.TrackId
            JOIN invoices i ON  ii.invoiceId = i.invoiceId
            WHERE i.InvoiceDate like "%2012%"
            GROUP BY i.InvoiceDate 
            ORDER BY top_selling_track_2012 DESC
            limit 15
        """
        return pd.read_sql_query(query, self.conn)

In [13]:
db = Data_from_chinook("chinook.db")
db.dbpath

Connected to database: chinook.db Ready to perform CRUD operations!
Closing connection

'chinook.db'

In [9]:
db.sales_by_sales_agent()

  LastName  SupportRepId  sales_by_agent
0  Peacock             3          833.04
1     Park             4          775.40
2  Johnson             5          720.16

In [14]:
db.top_selling_track_of_2012()

               Name_of_the_song          InvoiceDate  top_selling_track_2012
0               Interlude Zumbi  2012-12-07 00:00:00                      14
1                       Amazing  2012-11-06 00:00:00                      14
2                   Salutations  2012-10-06 00:00:00                      14
3                     Unchained  2012-09-05 00:00:00                      14
4             Crossroads, Pt. 1  2012-08-05 00:00:00                      14
5           This Is Radio Clash  2012-07-05 00:00:00                      14
6               Sir Psycho Sexy  2012-06-04 00:00:00                      14
7                       Prowler  2012-05-04 00:00:00                      14
8      The Meaning Of The Blues  2012-04-03 00:00:00                      14
9                         Aloha  2012-03-03 00:00:00                      14
10                  Planet Home  2012-02-01 00:00:00                      14
11                  The Trooper  2012-01-01 00:00:00                      14
12           Jorge Da Capadócia  2012-12-02 00:00:00                       9
13                Help Yourself  2012-11-01 00:00:00                       9
14  Greetings from Earth, Pt. 1  2012-10-01 00:00:00                       9